.login {
  background: #3C5690;
  color: #FFF;
  border: 0;
  width: 80px;
  display: block;
  margin: auto;
  line-height: 30px;
  cursor: pointer;
}

.login:disabled {
  background: #dddddd;
  cursor: not-allowed;
}

.error_msg {
  background: #f2dede none repeat scroll 0 0;
  border: 1px solid #ebccd1;
  border-radius: 10px;
  color: #a94442;
  font-size: 12px;
  line-height: 150%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 80%;
}

.forgotpassword {
  color: #3C5690 !important;
  background: transparent;
  width: 168px;
}

.st_title {
  width: 100%;
  display: block;
  text-align: center;
  color: #211E55;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: serif;
}

.st_login {
  width: 380px;
  min-height: 250px;
  background: #ececec;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  margin-top: 100px;
}

.st_ltext {
  border: 0 none;
  border-radius: 10px;
  display: block;
  padding: 3% 3% 3% 10%;
  width: 87%;
  margin-bottom: 25px;
  font-size: 14px;
}
.st_submit
 {
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 45px;
  background: #211e55;
  color: #FFF;
  font-size: 16px;
  font-family: serif;
  cursor: pointer;
 }
